/* #root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem;  */
  /* text-align: center; */
/* }  */

section {
  position: relative;
}

#Hero {
  position: relative;
  z-index: 1;
}

.panel {
  position: relative;
  z-index: 2;
  background: black; /* or your theme */
}

.about { z-index: 2; }
.experience { z-index: 3; }
.skills { z-index: 4; }
.projects { z-index: 5; }
.contact { z-index: 6; }
